on early-boot
    chown system graphics /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown
    chmod 0664 /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown

on boot
     chown system system /sys/class/touch/touch_dev/fod_longpress_gesture_enabled
     chmod 0660 /sys/class/touch/touch_dev/fod_longpress_gesture_enabled
     chown system system /sys/class/touch/touch_dev/gesture_single_tap_enabled
     chmod 0660 /sys/class/touch/touch_dev/gesture_single_tap_enabled
 
on property:ro.vendor.sensors.xiaomi.single_tap=true
     write /sys/class/touch/touch_dev/gesture_single_tap_enabled 1
   
on property:ro.vendor.sensors.xiaomi.udfps=true
     write /sys/class/touch/touch_dev/fod_longpress_gesture_enabled 1

on boot
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp

    chown system system /sys/devices/platform/goodix_ts.0/double_tap_enable
    chown system system /sys/devices/platform/goodix_ts.0/fod_enable
    chown system system /sys/devices/virtual/mi_display/disp_feature/disp-DSI-0/disp_param
    chown system system /sys/class/touch/touch_dev/fod_press_status

    chmod 0664 /sys/devices/platform/goodix_ts.0/double_tap_enable
    chmod 0664 /sys/devices/platform/goodix_ts.0/fod_enable
    chmod 0664 /sys/devices/virtual/mi_display/disp_feature/disp-DSI-0/disp_param
    chmod 0664 /sys/class/touch/touch_dev/fod_press_status


on property:sys.perf_mode_active=1
    write /sys/devices/system/cpu/qcom_lpm/parameters/sleep_disabled 1
     
on property:sys.perf_mode_active=0
    write /sys/devices/system/cpu/qcom_lpm/parameters/sleep_disabled 0

on post-fs-data
    mkdir /data/vendor/misc 01771 system system
    mkdir /data/vendor/misc/mi_fp 0770 system system
    mkdir /persist/mi_fp 0770 system system
    mkdir /mnt/vendor/persist/mi_fp 0770 system system
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system
    mkdir /mnt/vendor/persist/fpc 0770 system system
